# Environment variables
.env

# Virtual envionment
venv/

# General python files
__pycache__/
*.py[cod]
*.pyo
*.pdb
*.log
*.tmp
*.swp
*.bak

# PyQt6 and generated resources
*.qrc
*.pyproj
*.ui.py
*.qrc.py
build/
dist/